@model Mynotes.ViewModels.NoteViewModel

@{
    ViewData["Title"] = "Create Note";
}
<div class ="row">
<div class ="col-8 mx-auto">
<h1 class =" mt-2">Create Note </h1>
<hr/>
<form asp-action = "Edit" asp-Controller= "Note" method = "post">
<input type="hidden" asp-for="Id">
<input type = "hidden" asp-for="CreatedDate">
            <div class="mb-3">
                <label asp-for="Title"></label>
                <input type="text" asp-for="Title" class="form-control" />
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description"></label>
                <textarea asp-for ="Description" asp-for="Password" class="form-control rows= 20" ></textarea>
                <span class="text-danger" asp-validation-for="Description "></span>
            </div>
            <div class="mb-3"> 
            <div class = "d-flex align-items-center justigy-content-center gap-3">
                <label> Choose Background Color </label>
                <input type = "color" asp-for = "Color">
                </div>
           
            </div>
            <div class="mb-3">
                <input type="submit" class="form-control btn btn-success"value = "Save">
            </div>
        </form>
</div>
</div>


